body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spanGradien {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  width: 172px;
  text-align: center;
  align-items: center;
  height: 24px;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  gap: 4px;

  background: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%);
}

h1{
font-size: 32px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: rgba(3, 5, 15, 1);

}
.form-check-input:checked {
  background-color: rgba(10, 5, 30, 1) !important;
  border-color: rgba(10, 5, 30, 1)!important;

}

.labelCheck{
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: rgba(10, 5, 30, 1);

}

.terms{
font-size: 14px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: rgba(3, 5, 15, 1);
text-decoration: underline;
cursor: pointer;

}
.form-control{
  border: 1px solid rgba(94, 100, 136, 1) !important;
}
.input-group-text{
  background-color:#ffffff !important;
  border: 1px solid    rgba(94, 100, 136, 1) !important;
}
a{
font-size: 12px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: rgba(3, 5, 15, 1);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}
.btnCotizar{
  width: 195px;
height: 64px;
padding: 20px 40px 20px 40px !important;
border-radius: 40px !important;
gap: 8px;
background: rgba(3, 5, 15, 1) !important;
font-size: 20px !important;
font-weight: 700 !important;
line-height: 24px !important;
letter-spacing: 0.4000000059604645px;
text-align: center;


}

a {

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.auth {
  .auth-background-holder {
    height: 100vh;
    min-height: 100%;
  }
}

.auth-main-col,
.auth-background-col {
  position: relative;
}

.auth-main-col {
  margin: auto;
}

.auth-background-col {
  background: rgba(primary 0.6);
}

.auth-background-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
}

.auth-wrapper {
  background: white;
  height: 100vh;

  .auth-body {
    width: 360px;
  }

  .auth-heading {
    font-size: 1.5rem;
  }

  .auth-option {
    font-size: 0.875rem;

    >a {
      color: secondary
    }
  }

  .forgot-password {
    >a {
      color: secondary
    }
  }

  input:focus {
    box-shadow: none;
  }
}

@media (max-width: 767.98px) {
  .auth-background-col {
    display: none;
  }
}